//Primary Colors Used BackGround
$darkBlueIntroBG: hsl(217, 28%, 15%);
$darkBlueMainBG: hsl(218, 28%, 13%);
$darkBlueFooterBG: hsl(216, 53%, 9%);
$darkBlueTestimonialBG: hsl(219, 30%, 18%);

// Accent 
$cyan: #65e2d9;
$blue: #339ecc;
$lightRed: #ff4242;

// Neutral
$white: #ffffff;


// Media Query Test Colors
$orange: #ff9b54;
$purple: #ae76a6;
$lBlue: #a3c3d9;
$lOrange: #f8bd7f;
$grey: #efefef;