@import "breakpoints";

/************** Features Section Coloring ***************/

// coloring used in section
.features {
    background-color: $darkBlueMainBG;
}

/************** Features Layout Build ***************/

// type of layout 
.features-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 30px;


    @include breakpoint(regular) {
        grid-template-columns: 1fr 1fr;

    }

}

/************** Features Section Styling ***************/

// item var placement 
.features-container .item {
    text-align: center;
    width: 87%;
    margin: 40px;

    @include breakpoint(regular) {
        width: 70%;
    }
}

// item img sizes
.features-container img {
    width: 25%;    
    
    @include breakpoint(regular) {
        width: 25%;
    }
}

/************** Features Section Content ***************/

// h3 styling
.features-container h3 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    color: $white;
    padding: 8px;

}

// p styling
.features-container p {
    font-family: $secondaryFont;
    color: $white;
    font-size: 14px;

    @include breakpoint(medium) {
        font-size: 15px;
    }

}

/************** End Of Feature Section  ***************/


/************** Description Section Coloring  ***************/

// coloring used in section
.description {
    background-color: $darkBlueMainBG;
    color: $white;
}

/**************  Description Content Styling  ***************/

// Img col positioning
.col-md-7 img { 
    margin: auto;
    margin-bottom: 30px;
    margin-top: 75px;
    padding-top: 5px;
    display: flex;
    width: 100%;
    max-width: 420px;



    @include breakpoint(large){
        max-width: 90%; 

    }

    @include breakpoint(xlarge){
        max-width: 95%;

    }
}
// col positioning
.col-md-7 {
    @include breakpoint(large){
        right: 30px;
    }

    @include breakpoint(xlarge){
        right: 100px;
    }
}

// content col positioning
.col-md-5 {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(regular){
        bottom: 22px;
        margin-top: 75px;
    }

    @include breakpoint(large){
        right: 40px;
        padding-bottom: 80px;
    }

    @include breakpoint(xlarge){
        right: 80px;
        padding: 60px 15px 116px 15px;


    }
}

// h2 styling 
.col-md-5 h2 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;


    @include breakpoint(micro){
        font-size: 22px;
        margin-bottom: 20px;
    }

    @include breakpoint(regular){
        font-size: 26px;
        text-align: start;
        margin-bottom: 16px;
        padding-top: 80px;
    }

    @include breakpoint(large){
        font-size: 30px;
        text-align: start;
        margin-bottom: 0px;
    }

    @include breakpoint(xlarge){
        font-size: 36px;
    }


}

// p styling
.col-md-5 p {
    font-family: $secondaryFont;
    font-size: 14px;
    text-align: start;
    margin: 0px 0px 15px 7px;

    @include breakpoint(micro){
        margin: 0px 0px 20px 14px;

    }

    @include breakpoint(regular){
        margin: 0px 0px 8px 5px;
        
    }

    @include breakpoint(large){
        margin: 0px 0px 0px 0px;
    }

    @include breakpoint(xlarge){
        margin: 15px 5px 5px 0px;
        font-size: 15.5px;
    }
}

// a styling W/ Hover
.col-md-5 a {
    color: $cyan;
    font-size: 12px;
    text-align: start;
    margin: 0px 0px 50px 7px;
    background-image: url(./images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-bottom: 1px solid $cyan;
    width: 36%;
    transition: all 300ms ease-in-out;

    &:hover {
        color: $white;
        border-bottom: 1px solid $white;   
    }
    
    @include breakpoint(micro){
        margin: 0px 0px 50px 14px;
        width: 32%;
    }

    @include breakpoint(small){
        margin: 0px 0px 50px 11px;
    }

    @include breakpoint(regular){
        margin: 0px 0px 50px 5px;
        width: 45%;
    }

    @include breakpoint(large){
        margin: 0px 0px 0px 0px;
        width: 34%;
    }

    @include breakpoint(xlarge){
        margin: 7px 0px 0px 0px;
        font-size: 14.5px;
    }

}


/************** End Of Description Section  ***************/


/************** Team Section Coloring  ***************/

// coloring / fonts used in Team section

.team {
    font-family: $secondaryFont;
    background-color: $darkBlueMainBG;
    color: $white;
}

.col-sm-4 {
    background-color: $darkBlueTestimonialBG;
}

/************** Quotation Styling  ***************/

// quote styling 
.col-12 {
    right: 8px;

    @include breakpoint(regular){
        top: 6px;
        right: 12px;
    }

    @include breakpoint(large){
        top: 8px;
    }

    &-quote {
        height: 20px;

        @include breakpoint(regular){
            height: 35px;
            z-index: 0;
        }

    }
}

/************** Column Styling + Responsive Styling   ***************/

// global col-md-4 styling 
.container-fluid {
    padding: 100px 40px 100px 25px;

    @include breakpoint(regular){
        padding: 100px 60px 100px 33px;
    }

    @include breakpoint(large){
        padding: 100px 40px 100px 33px;
    }

    @include breakpoint(xlarge){
        padding: 100px 80px 100px 80px;
    }
}

.col-sm-4 {
    border-radius: 5%;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 25px;

    @include breakpoint(regular){
        max-width: 215px;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    @include breakpoint(large){
        max-width: 300px;
        margin-left: 25px;
        margin-bottom: 0px;
    }

    @include breakpoint(xlarge){
        max-width: 400px;
    }
}

/************** Card / Panel Content Styling  ***************/

// Panel body Styling 
.panel-body {
    font-size: 14px;
    padding-bottom: 20px;
}

// Panel footer Styling W/ Grid
.panel-footer {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 20px 20px;
    column-gap: 10px;
    
    &-image {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    &-name {
        font-size: 11px;
        font-weight: bold;
    }

    &-title {
        font-size: 11px;
    }    
}

/************** END of Team Section  ***************/

/************** SignUp Section Coloring  ***************/

.email-signup {
    font-family: $secondaryFont;
    background-color: $darkBlueMainBG;
    color: $white;
    align-content: center;
}

.col-md-6 {
    background-color: $darkBlueTestimonialBG;

}


/************** SignUp Content Styling  ***************/


.col-md-6 {
    padding: 45px 20px 40px 20px;
    margin: 45px 20px 40px 20px;
    border-radius: 10px;
}

.content {

    text-align: center;

    &-small {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 10px; 
    }

    &-p {
        font-size: 15px;
        margin-bottom: 25px;
    }

}


.btn button {
    font-weight:bold;
    font-size: 14px;
    color: $white;
    background-color: $cyan; 
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, $cyan, $blue);
    margin: auto;
    display: flex;
    padding: 12px 50px;
    margin-top: 14px;
    max-width: 240px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(to right, $cyan, $blue);
    }

}

.col-xs-4 {

    @include breakpoint(micro){
        left: 25px;
    }
}

.email-control {
    border-radius: 30px;
    border: none;
    margin: auto;
    display: flex;
    padding: 12px 50px;
    max-width: 240px;

}